<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"feinspitz/home-hero"} /-->
	<!-- wp:pattern {"slug":"feinspitz/home-featured"} /-->
	<!-- wp:pattern {"slug":"feinspitz/home-categories"} /-->
	<!-- wp:pattern {"slug":"feinspitz/wine-finder-teaser"} /-->
	<!-- wp:pattern {"slug":"feinspitz/home-story"} /-->
	<!-- wp:pattern {"slug":"feinspitz/home-cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
