<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"feinspitz/product-showcase"} /-->

	<!-- wp:shortcode -->[feinspitz_product_badges]<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[feinspitz_product_facts]
	<!-- /wp:shortcode -->

	<!-- wp:pattern {"slug":"feinspitz/product-details"} /-->
	<!-- wp:pattern {"slug":"feinspitz/product-related"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
